classes/
bin/
build/
dist/
*.settings/
*.classpath
*.project
.DS_Store
*.log
*.class

project/portal/classes/
project/portal/bin/
project/portal/build/
project/portal/.settings/
project/portal/.classpath

*/.sublime-project
*/.sublime-workspace

portal/.externalToolBuilders
