classes/
bin/
build/
dist/
.settings/
.classpath
.DS_Store
*.log
*.class

portal/classes/
portal/bin/
portal/build/
portal/.settings/
portal/.classpath

*/.sublime-project
*/.sublime-workspace

portal/.externalToolBuilders
