@charset "utf-8";

/*- 首页框架 -*/
.login-panel {position: relative;float: right;top: -55px;}
.banner{ background-image: url(/images/banner_1_bg.jpg);background-repeat: repeat-x;height:386px; }
.banner .flash{ width:980px; margin:0 auto; overflow:hidden; height:384px;}
.indexmain{padding-top:20px;}
.indexmain .indexmain_box{ width:980px; margin:0 auto;}
.indexmain .index_leftbox{ width:680px; float:left;}
.indexmain .intro {margin-left: -50px; height: 100%;padding-top: 10px;}
.indexmain .intro li{ float:left; width:300px; margin-left: 50px;margin-bottom: 15px;}
.indexmain .intro li p{ margin-top:10px; line-height:22px; float:left;margin-left: 5px;}
.indexmain .tit_intro {background:url(/images/intro_title_1.png) no-repeat;height: 26px;}
.indexmain .tit_platforms {background:url(/images/intro_title_2.png) no-repeat;height: 26px;margin-top: -25px;}
.indexmain .tit_partner {background:url(/images/intro_title_3.png) no-repeat;height: 26px;margin-top: -30px;margin-bottom: 10px;}
.indexmain .tit_partner .more{float: right;margin-right: 10px;background: url(/images/more_partner.png) no-repeat;width: 95px;height: 22px;}
.indexmain .tit_partner .more:hover {background: url(/images/more_partner_hover.png) no-repeat;}
.indexmain .desc1 {background: url(/images/desc1.png) no-repeat;height: 47px;}
.indexmain .desc2 {background: url(/images/desc2.png) no-repeat;height: 47px;}
.indexmain .desc3 {background: url(/images/desc3.png) no-repeat;height: 47px;}
.indexmain .desc4 {background: url(/images/desc4.png) no-repeat;height: 47px;}
.indexmain .shortline {background: url(/images/shortline.png) no-repeat; width: 651px; height: 43px;}
.indexmain .longline {background: url(/images/longline.png) no-repeat; width: 970px; height: 51px;margin-top: 20px;}
.indexmain ul.dtk-list {list-style: none;height: 101px;margin-top: 10px;}
.indexmain ul.dtk-list li {float: left; background:none; width:108px; height:101px; margin-right:25px;position: relative;}
.indexmain ul.dtk-list li p{height:24px; line-height:24px; text-align:center; margin:0; padding:0;position: relative;top: -25px;font-weight: bold;}
.indexmain .index_bottom {clear: both;}
.indexmain #partner-list {margin: 0 10px 0 20px;width: 940px;overflow: hidden;padding-top: 32px;height: 53px;}
.indexmain #partner-list a {text-decoration: none;display:block;float: left;margin: 2px 12px;outline: 0;}
.indexmain #partner-list a img {border: 2px solid #D5D5D5; width: 209px;}
.indexmain .partner-box {background: url(/images/partnerbg.png) no-repeat;height: 112px;width: 980px;margin-bottom: 40px;}

/*- Index imgPlay Sytle -*/
#imgPlay {overflow: hidden; width: 980px;position: relative; height: 384px}
#imgPlay .imgs img { width:980px;}
#imgPlay .imgs li {	float: left; position: relative}
#imgPlay .num {width: 90px;height: 18px;bottom: 15px;position: absolute;left: 447px;}
#imgPlay .num ul {list-style: none;margin-left: -10px;}
#imgPlay .num ul li {float: left; margin-left: 10px; cursor: pointer;background: url(/images/indicator.png) no-repeat;width: 14px;height: 16px;text-indent: -10000px;}
#imgPlay .num ul li:hover {cursor: pointer;}
#imgPlay .num ul li.current {background: url(/images/indicator_actived.png) no-repeat;}

/*- right_box -*/
.index_rightbox{background: url(/images/index_side.png) repeat-x;height: 413px;width: 289px;float: left;}
.index_num{margin: 10px 0 20px 23px;height: 128px;width: 245px;}
.index_num h1{ color:#cb1116; font-size:24px; font-weight:bold; margin:5px 0;}
.index_num p {text-align:center;}
.index_num .index_num_counter {font-weight: bold;color: #C42833;font-size: 22px;padding: 30px 0 10px 0;height: 35px;}
.index_num .index_num_label1 {font-weight: bold;font-size: 16px;}
.index_num .index_num_label2 {color: #928F8F;}
.index_list{ margin:10px 0 0 20px; width:245px;}
.index_list .news_title {color: #c42833;display: inline;font-size: 16px;}
.index_list .news_more {float: right;display: block;margin-top: 3px;background: url(/images/more_news.png) no-repeat;width: 56px;height: 19px;}
.index_list .news_more:hover {background: url(/images/more_news_hover.png) no-repeat;}
.index_list ul{ margin-top:8px;}
.index_list ul li{ line-height:24px;}
.index_list ul li a:hover{ text-decoration:none;}
.index_list ul li a h1{ display:inline; margin-right:10px; font-weight:normal; color:#949494; }
.index_list ul li a h2{ display:inline; font-weight:normal; }

#partners{width:920px;overflow:hidden;}
#partners div{float:left;}
#partners img{border:1px solid #D5D5D5;float:left;margin:2px 12px;}
#partners a:hover{text-decoration:none;}
.partners_box{width:945px;padding:0 0 10px 30px;border:1px solid #D5D5D5;margin:20px auto;border-radius:4px;}
.partners_hd{width:920px;margin-bottom:10px;height:30px;line-height:30px;border-bottom:1px solid #D5D5D5;}
.partners_hd strong{float:left;color:#C93135;font-size:14px;}
.partners_hd a{float:right;color:#666;}
