@charset "utf-8";

.indexmain .tit_intro {background:url(/images/intro_title_en_1.png) no-repeat;}
.indexmain .tit_platforms {background:url(/images/intro_title_en_2.png) no-repeat;}
.indexmain .tit_partner {background:url(/images/intro_title_en_3.png) no-repeat;}
.indexmain .desc1 {background: url(/images/desc1_en.png) no-repeat;}
.indexmain .desc2 {background: url(/images/desc2_en.png) no-repeat;}
.indexmain .desc3 {background: url(/images/desc3_en.png) no-repeat;}
.indexmain .desc4 {background: url(/images/desc4_en.png) no-repeat;}

.index_num .index_num_label1{font-size:12px;}