#navigation,
#greeting {
    display:none;
}
h1 {
    color:#193d58;
    margin:0 auto;
    width:960px;
}
h1 span {
    color:#015172;
    display:block;
    font-size:36px;
    font-weight:normal;
    line-height:42px;
    margin:0 0 30px;
    text-shadow:rgba(255, 255, 255, 0.45) 0 1px 0;
}
h2 {
    color:#193D58;
    font:18px/22px Arial,sans-serif;
    margin:0 0 13px;
    padding:0;
    text-shadow:rgba(255, 255, 255, .7) 0 1px 0;
}
h3 {
    color:#193d58;
    font:14px/20px Arial,sans-serif;
    margin:0;
}
p {color:#3d3d3c;}
a,fieldset div a {color:#97233f;}

/********************************************************************** layout */
#onboard #flash_message.notification {
    display:none;
}
#content {
    width:958px;
    min-height:300px;
    margin:0 auto 40px;
    padding:0 0 30px;
}
#onboard #content .announcement {
    background-color:rgba(255,255,255,.8);
    display:none;
    margin:20px 20px 0;
}
ul {
    list-style:none;
    margin:0;
    padding:0;
    vertical-align:top;
}
ul li {
    background:transparent url(../images/bullet.png) no-repeat 0 4px;
    margin:0 0 15px;
    padding:0 0 0 20px;
}
ul li.nobull {
    background:none;
}

.col_1,
.col_2 {
    float:left;
    position:relative;
}
.col_2,
.general {
    font-size:14px;
    line-height:20px;
    width:220px;
}
.general,
.signup .col_1 fieldset {
    background:#fff;
    border-radius:5px;
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.08);
    margin:auto -15px 20px;
    padding:15px 15px 0;
    width:auto;
}
.general ul {
    padding-bottom:5px;
}

/********************************************************************** forms */
form {
    margin:0;
}
fieldset {
    padding:0;
}
fieldset div {
    color:#333;
    display:inline-block;
    font:inherit;
    line-height:inherit;
    padding:0 0 20px;
    position:relative;
    vertical-align:top;
    width:420px;
}
label {
    color:#4d4d4d;
    display:block;
    font-weight:normal;
    line-height:20px;
    margin:0 0 2px;
}
label span {
    font-style:italic;
}
input[type="text"],
input[type="password"] {
    background:rgba(255,255,255,.1);
}
.ccards {
    background:transparent url(../images/ccards_sprite_small.png) no-repeat;
    height:30px;
    padding:0;
    position:absolute;
    right:-190px;
    top:25px;
    width:180px;
}
fieldset.filled label {
    color:#8597a6;
    text-shadow:0 1px rgba(255,255,255,.5);
}
fieldset.filled div {
    padding-bottom:10px;
}
fieldset div#bt_info {
    display:inline;
    padding:0;
}

input[type="submit"].waiting {
    background-image:url(../images/waiting_bg.gif);
    height:29px;
    margin-top:-6px;
    width:100px;
    vertical-align:inherit;
}

ul.errorlist li {background:none;}
ul.errorlist li.error {border:0;box-shadow:none;}
fieldset div ul.errorlist,
#onboard #flash_error {
    background:#fff9e0;
    border:2px solid #ffd11a;
    border-radius:0 0 5px 5px;
    color:#332900;
    margin:-1px 10px 0;
    padding:5px 0;
}
#onboard #flash_error {
    border-radius:5px;
    margin:0 0 20px;
    padding:5px 10px;
}
fieldset div ul.errorlist li {
    background:none;
    display:block;
    font-weight:bold;
    margin:0;
    padding:0 10px;
    position:relative;
}
fieldset div ul.errorlist ~ input,
fieldset div ul.errorlist ~ input[type="text"],
fieldset div ul.errorlist ~ input[type="password"] {
    background:#fff;
    border:1px solid #ffd11a;
}


#alert,
fieldset div.error {
    border-radius:5px;
    display:none;
    margin:0 0 20px;
    padding:5px 10px;
}
fieldset div.error {
    display:block;
    font-size:11px;
    font-weight:bold;
    margin:0 0 20px;
}
#alert.error,
fieldset div.error {
    background:#FFF9E0;
    border:2px solid #FFD11A;
    color:#332900;
}

/********************************************************************** log in */
.login .col_1,
.signup .col_1 {
    margin-right:50px;
    width:650px;
}
.login .col_1 input[type="text"],
.login .col_1 input[type="password"] {
    width:398px;
}

.login label#remember {
    display:inline-block;
    margin:0;
    *display: inline;
    *zoom: 1
}
/********************************************************************** sign up */
.signup .col_1 h2,
.signup .col_2 h2 {
    margin:0 0 10px;
}
.signup .col_1 fieldset {
    background:#fff;
    margin:auto -15px 20px;
    padding:15px 15px 0;
}
.signup .col_1 fieldset.submit {
    background:transparent;
    border:none;
    box-shadow:none;
}

/********************************************************************** password reset */
.pwreset {
    width:auto;
}
.pwreset .col_1 {
    width:auto;
}

/********************************************************************** clear floats */
/*IE6 float fix*/
* html #content,
* html #onboard .footer .container {
    height:1%;
}
/* IE7 float clear */
*:first-child+html #content,
*:first-child+html #onboard .footer .container {
    min-height:1px;
}
/* Browsers that support :after */
#content:after,
#onboard .footer .container:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}