@charset "utf-8";

/*-  Html Tags Reset -*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure {padding:0; margin:0; }
body {font:12px/1.5 tahoma,arial; color:#4c4a4a;margin-top:91px;background:#f3f3f3;}
bbr,article,aside,bb,datagrid,datalist,details,dialog,eventsource,figure,figcaption,footer,header,mark,menu,meter,nav,output,progress,section,time {display: block; height:auto; }
table{border-collapse:collapse; border-spacing:0; }
ol, ul{list-style:none outside; }
h1, h2, h3, h4, h5, h6{font-size:100%; }
fieldset, img{border:0 none; vertical-align:middle; }
a{color:#555; text-decoration:none; }
a:hover{color:#c60120; text-decoration:none; }
em{font-style:normal; }
input, textarea{padding:2px; }
textarea{overflow-y:auto; }
input,select,textarea {font:12px Arial,Tahoma,simsun; }
button{ overflow:visible; padding:0; vertical-align:middle; }
button,label{cursor:pointer; }
.clearfix:after{content:"."; height:0; visibility:hidden; display:block; clear:both; font-size:0; line-height:0; }
.clearfix{display:inline-block; }
.clearfix{display:block; }

/*- Header Style -*/
.header{ background:url(/images/headerbg.png) repeat-x; height:106px;position: absolute;top:0;left:0;width:100%;z-index: 9999;}
.header_width{ width:980px; margin:0 auto; padding-top:10px;position:relative;}
.header .logo{ width: 269px;height: 33px;padding-top: 20px;}

/* login panel */
.login_panel {
	position: absolute;
	right: 0;
	top: 0;
}
.login_panel ul li {
	width: 135px;
	height: 31px;
	float: left;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
}
.login_panel ul li a {
	text-decoration: none;
}
.login_panel ul li a:hover {
	text-decoration: underline;
}
.login_panel ul li.login {
	background: url(/images/index_login.png);
	margin-right: -2px;
}
.login_panel ul li.register {
	background: url(/images/index_reg.png);
}
/*- navchannels -*/
.header .channels{float:right; width:680px;}
#fancymenu {position: relative;height: 24px;float:right; margin:23px 0 0 0; }
#fancymenu ul li{float: left; list-style: none;width: 90px;height: 31px;text-align: center;outline: 0;border: 0;}
#fancymenu ul li.current{background: url(/images/menubtn.png) no-repeat;}
#fancymenu ul li.current a {color:#403f3f;}
#fancymenu ul li a{z-index: 10; display: block; float: left;width: 100%;padding-top: 5px; overflow: hidden; color: #c42833; font-size: 14px;outline: 0;border: 0;}

/*- Footer Style -*/
.footer{ background:#484848; height:100px;padding-top:45px; clear: both;font-size: 14px;}
.footer div{ width:980px; margin:0 auto; position: relative;}
.footer .right_nav {color: #fff;position: absolute;right: 0;z-index: 999;}
.footer .right_nav .snslbl{position: relative;top: -12px;font-size: 14px;}
.footer .footer_nav{ line-height:24px;}
.footer .footer_nav a{ color:#fff;}
.footer .footer_nav span{ color:#c4c4c4;}
.footer .copyright{ color:#fff; margin-top:5px;}
.footer .copyright span{font-family:Arial, Verdana, sans-serif;}
.footer .right_nav a[class^="sns-"] {display: inline; margin-right: 5px; border: 0;outline: 0;display: inline-block;*display: inline;*zoom: 1;width: 34px;height: 35px;cursor: pointer;}
.sns-tw{background: url(/images/sns-tw.png) no-repeat;}
.sns-tw:hover{background: url(/images/sns-tw-hover.png) no-repeat;}
.sns-fb{background: url(/images/sns-fb.png) no-repeat;}
.sns-fb:hover{background: url(/images/sns-fb-hover.png) no-repeat;}
.sns-in{background: url(/images/sns-in.png) no-repeat;}
.sns-in:hover{background: url(/images/sns-in-hover.png) no-repeat;}
.sns-wb{background: url(/images/sns-wb.png) no-repeat;}
.sns-wb:hover{background: url(/images/sns-wb-hover.png) no-repeat;}
.sns-qqwb{background: url(/images/sns-qqwb.png) no-repeat;}
.sns-qqwb:hover{background: url(/images/sns-qqwb-hover.png) no-repeat;}

.banner_aboutus {width: 980px;margin: 0 auto;height: 119px;background: url(/images/banner_aboutus.jpg) no-repeat;}
.banner_partner {width: 980px;margin: 0 auto;height: 119px;background: url(/images/banner_partner.jpg) no-repeat;}
.banner_helpcenter {width: 980px;margin: 0 auto;height: 119px;background: url(/images/banner_helpcenter.jpg) no-repeat;}
.banner_news {width: 980px;margin: 0 auto;height: 119px;background: url(/images/banner_news.jpg) no-repeat;}

.maincnt .maincnt_box {width: 980px;margin: 0 auto;margin-top: 15px;margin-bottom: 40px;}
.maincnt .leftcnt_box {float: left;}
.maincnt .rightcnt_box {float: right;}
.maincnt .leftcnt_title {background: url(/images/left_sidetitle.png) no-repeat;width: 286px;height: 52px;}
.maincnt .leftcnt_title span {font-size: 18px;display:block;font-weight: bold;color: #c42833;padding: 15px 0 0 20px;}
.maincnt .leftcnt {background: url(/images/left_sidebox.png) no-repeat;width: 286px;height: 603px;}
.maincnt .leftcnt .inner {width: 226px;margin:0 auto;}
.maincnt .rightcnt {background-image: url(/images/right_sidebox.png);background-repeat: no-repeat;width: 692px;min-height: 602px;}
.maincnt .rightcnt .inner {padding: 20px 40px;}
.maincnt .rightcnt .navmap {text-align: right;padding-bottom: 10px;}
.maincnt .leftcnt .dashline {background: url(/images/dashline.png) no-repeat;}
.maincnt .dashline {background: url(/images/dashline_long.png) no-repeat;height: 2px;}
.maincnt ul.navmenu {padding-top: 20px;height: 240px;}
.maincnt ul.navmenu li {height: 34px;font-size: 16px;color: #c42833;text-align: center;margin-bottom: 20px;cursor: pointer;}
.maincnt ul.navmenu li.current {background: url(/images/left_sideitem.jpg) no-repeat center;color: #FFF;}
.maincnt ul.navmenu li span{display: block;padding-top: 5px;}
.maincnt .about-content {padding: 20px 20px;font-size: 14px;}
.maincnt .about-content .subtitle {color: #c42833;font-weight: bold;}
.maincnt .onlinegroup {width: 100%;}
.maincnt .onlinegroup td {padding-top: 5px;}
.maincnt .leftcnt .contact img {margin: 20px 0 20px 0; width: 232px;}
.maincnt .leftcnt a[class^="chat_"] {width:81px;height: 23px;display: block;}
.maincnt .leftcnt .chat_qq {background: url(/images/online_qq.png) no-repeat;}
.maincnt .leftcnt .chat_qq:hover {background: url(/images/online_qq_hover.png) no-repeat;cursor: pointer;}
.maincnt .leftcnt .chat_msn {background: url(/images/online_skype.png) no-repeat;}
.maincnt .leftcnt .chat_msn:hover {background: url(/images/online_skype_hover.png) no-repeat;cursor: pointer;}

.aboutus .addr-map {width: 572px;}
.aboutus .logolabel {margin: 10px 0; color: #c42833;}

.partner .partner-content .subtitle {background: url(/images/block_flag.png) left center no-repeat;padding-left: 20px;font-size: 16px;margin: 20px 0 10px 0;border-bottom: 1px solid #CCC;height: 25px;}
.partner .app-list {margin-left: -10px;}
.partner .app-list li {border: 1px solid #CCC;float: left;margin-left: 10px;margin-top: 10px;}
.partner .app-list li img {width: 195px;}
.partner #partner-media li {width: 195px;height: 44px;position: relative;}
.partner #partner-media li .app-icon {width: 38px;display: inline-block;*display: inline;*zoom: 1;position: relative;top: 3px;left: 3px;}
.partner #partner-media li .app-name {padding-left: 15px;font-size: 14px;font-weight: bold;display: inline-block;*display: inline;*zoom: 1;position: relative;top: 6px;}

.news .news-content {margin: 20px 0;}
.news .news-content .news-table {width: 100%;}
.news .news-content .news-table td {font-size: 14px;}
.news .news-content .news-title {width: 80%; cursor: pointer;}
.news .news-content .news-pubdate {width: 20%; text-align: right;}
.news .news-content .news-detail {margin-top: 10px; color: #5a5a5a;width: 520px;margin: 0 auto;font-size: 14px;}
.news .news-detail .subtitle {font-size: 16px;color: #C42833;text-align: center;}
.news .news-detail .pubdate {text-align: center;color: #7C7C7C;}
.news .news-detail .dashline {margin: 5px 0 20px 0;}

.helpcenter .helpcenter-content {background: url(/images/helpcenter_bg.png) center bottom no-repeat;height: 540px;}
.helpcenter .helpcenter-content .subtitle {text-align: center; font-size: 16px; color: #c42833;}
.helpcenter .helpcenter-content .subdesc {text-align: center; font-size: 14px; color: #7c7c7c;}

.h2r .container {padding: 30px 0 0 0;}
.h2r .general {font-size:14px;line-height:20px;width:220px;}
.h2r .general {background:#fff;border-radius:5px;box-shadow:0 1px 5px rgba(0, 0, 0, 0.08);padding:30px;width:auto;}
.h2r .general ul {padding-bottom:5px;}
.h2r .general p{font-size: 28px;font-family: arial;margin: 20px 0;}
.h2r #content {width:958px;min-height:300px;margin:0 auto 40px;padding:0 0 30px;}
